page {
  width: 100%;
  height: auto;
  min-height: 100%;
  background: #F6F7F9;

  .page-wrapper {


    .page-header {
      padding: 36rpx 32rpx 36rpx;

      .page-header-user{
        display: flex;
        align-items: center;
        image{
          width: 72rpx;
          height: 72rpx;
          border-radius: 50%;
        }
      }

      .page-header-title{
        color: #333333;
        font-size: 36rpx;
        font-weight: 500;
        margin-left: 16rpx;
      }

    }


  }
}


.recommend-item{
    display: flex;
    background-color: #FFFFFF;
    padding: 32rpx;
    border-radius: 16rpx;
    margin-bottom: 20rpx;

  .left{
    width: 220rpx;

    image{
      width: 180rpx;
      height: 180rpx;
    }
  }
  .right{
		width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 16rpx 0 16rpx 32rpx;

    .title{
      width: 420rpx;
      color: #333333;
      font-size: 32rpx;
    }
    .text{
      color: #999999;
      font-size: 24rpx;
    }
  }
}
